@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body{
    background-color:rgb(50, 50, 50);
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Roboto", sans-serif;
    
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    height: 50px;
    color: aliceblue;
    border-radius: 10px;
    margin: 8px;
    
}
nav ul li{
 padding: 0 12px;
}

.logo img{
    width: 35px;
    padding: 0 6px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: "Lora", serif;
    
}

.bottom {
    position: sticky;
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 8px;
    font-family:"Roboto", sans-serif; 
    color: aliceblue;
    
}
.container{
    min-height: 70svh;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    margin: 8px;
    font-family: "Roboto", sans-serif;
    color:white;
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 34px;
    background-image: url('https://i.vgy.me/8WCXFG.jpg');
    background-size: 100% 100%;
    
    
}

input[type=range]{
    -webkit-appearance: none;
    width: 80%;
    margin-bottom: 13px;
    cursor: pointer;
    background: rgb(29, 29, 29); 
    border-radius: 10px;
    height: 5px;
    margin-top: -10px;
    margin-bottom: 2px;
    
}

.player {
    display: flex;
    justify-content: center;
    gap: 10px; 
    
    
}

.blogo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* .list{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 30px;
  
    
} */
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(29, 29, 29);
    border-radius: 30px;
    gap:20px
}

.playLogo{
    
    width: 25px !important;
    
}
.songItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.songList img {
    width: 45px; 
    height: auto;
}
.songList h3{
    display: flex;
    padding: 10px;
    gap:10px;
}
.songList h3 img{
    width: 20px;
}
.cover{
    border-radius: 100px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    padding-top: 40px;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
